.about-headline {
  display: flex;
  background-image: 'none';
  color: #333;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 100%;
}

.headline-container {
  flex: 1;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
  align-content: center;
}

.headline-container i {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  align-items: center;

}

.wrapper {
  background-image: 'none';
}

.about-headline h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  text-shadow: 3px 3px 3px #CCC; 
  color: #333;
  margin: 0;
  
}

.about-headline h2 {
  text-align: center;
    font-size: 2.1em;
    font-weight: 400;
    color: #333;
}

.about-headline p {
  margin-top: 0;
  font-size: 1.3em;
  text-align: center;
}

.about-headline p strong {
  font-weight: 700;
  color: #005874;
}