.results-container {
  display: flex;
  flex-direction: row;
  
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}

.search-term {
  text-align: center;
}

h3 {
  margin-top: 60px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 2.6em;
  font-style: italic;
}

.search-term strong {
  font-weight: 700;
  color: #005874;
}

.onpage-search-container {
  text-align: center;
}

.onpage-search-container p {
  font-size: 1.6em;
}
