.tourDetail {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stops-container {
  display: flex;
  flex-wrap: wrap;
}

.stop-container-ind {
  flex: 1;
  align-items: center;
  max-width: 500px;
  border: 1px solid  #005874;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 8px 6px -6px #333;
	-moz-box-shadow: 0 8px 6px -6px #333;
  box-shadow: 0 8px 6px -6px #333;
  flex-direction: row;
}

.stops-container img
{
  width: 480px;
  max-height: 320px;
  margin: 10px;
  border-radius: 5px;
} 

.tour-detail h1 {
    
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  text-shadow: 3px 3px 3px #CCC; 
  color: #333;
  margin: 0;
  margin-top: 20px;
  }

  .stop-text-block {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .tour-detail p {
    
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    }

.stop-container-ind p {
    
  text-align: center;
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
  }

.stop-container-ind .map-pin {
    margin-left: 5px;
    color:#1c819e;
  }
