body {
  margin: 0;
}
.header-container {
  display: flex;
  justify-items: right;
  justify-content: right;
  flex-direction: row-reverse;
  height: 10%;
  background-color: #005874;
  color: #fff;
}

* {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 400;
}

.topnav li {
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  list-style: none;
  display: inline-block;
}

.logged-in-name {
  padding-top: 22px;
}

.logo-container {
  position: absolute;
  left: 10px;
  padding-top: 8px;
}

.logo-container-text {
  font-size: 1.3em;
  position: absolute;
  left: 55px;
  padding-top: 12px;
  font-weight: 700;
}

.logo-container img {
  height: 50px;
}

.topnav a {
  color: #fff;
  text-decoration: none;
}

.topnav a:hover {
  color: #ffbe00;
  text-decoration: none;
}

.topnav a:active {
  color: #ffbe00;
  text-decoration: none;
}